/.vscode
/build
/imdb
/output*.txt
/*.tgz
/*.db
/TPC-H*
/job-sample
/.cache
BENCHMARK_RUNTIME.txt
perf.data*
perfetto.trace
/.cache.db
/.cache.db.zst
/cmake-*
/.idea
/record.csv
/results/
/xray.trace
/build_xray
/build_perfetto
/queries
/querygen.log
/errors.log
/.venv
/.cache.db*
scaling_bench.json
scaling_bench.pdf
/schema-domain.json
/schema-domain.json.gz